.Feedback {
    margin-left: 10px;
}

.FeedbackOptions {
    margin-left: 15px;
}

.Button {
    background-color: initial;
    border: 1px solid grey;
    border-radius: 2px 2px 2px 2px;
    margin-right: 10px;
    box-shadow: 0px 1px 3px rgba(129, 129, 129, 0.12), 0px 1px 3px rgb(0 0 0 / 14%), 0px 2px 3px rgb(0 0 0 / 20%);
}

.StatisticsTotal {
    margin-left: 15px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
}